<!DOCTYPE html>
<html>
<head>
	<title>Cookie Confectionary</title>
	<style type="text/css">
		body {
			background-color: darkred;
		}
	</style>
</head>
<body>

	<h1> Welcome to Guity Pleasures</h1>

	  <form method="POST" action="/chocolate">
      <button>Chocolate</button> <%= chocolate %>
      </form>

      <form method="POST" action="/lemon">
      <button>Lemon</button> <%= lemon %>
      </form>

      <form method="POST" action="/sugar">
      <button>Sugar</button> <%= sugar %>
      </form>

      <form method="POST" action="/startOver">
      <button>Erase memory</button> 
      </form>

</body>
</html>