<!DOCTYPE html>
<html>
<head>
	<title>Messages Board</title>
	<link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
	<h1>Messages</h1>

	<a href="add-message.html"> <button class="btn-add"> add message </button> </a>

		<table>
	

			<tr>
			
				<th>title:</th>
				<th>message:</th>
			</tr>

			<% for(let i in result.rows) { %>
			<tr>
				<td> <%= result.rows[i].title %> </td>
				<td> <%= result.rows[i].body %> </td>


				<form method="POST" action='/delete/message/<%= result.rows[i].id %>'>
				<td> <button class="btn-delete"> delete </button> </td></form>

			</tr>
			<% } %>

		</table>






</body>
</html>