


		<div id="commentForm">
	<form method="POST" action="/add">

	<div class="container">

		<h4> Leave a comment... </h4>
		
		<div id="textArea">

		<fieldset>
			<input type="text" name="name" placeholder=" name">
		</fieldset>		

		<fieldset>
			<input type="text" name="title" placeholder=" title">
		</fieldset>

		<fieldset id="resize">
			<input id="post" type="text" name="body" placeholder=" type something">
		</fieldset>

		</div>

		<fieldset>
			<button class="btn-post">post</button>
		</fieldset>
	</div>
	</form>
</div>



<h2 id="recentComments">Recent Comments</h2>

			<% for(let i in result.rows) { %>
			
				<h5 class="title">   <%= result.rows[i].title %>  </h5>
				<h5 class="name">  <%= result.rows[i].name %>   <span id="date"> <%= result.rows[i].date %> </span> </h5>
				<p class="comment" id="field"> <%= result.rows[i].body %>  </p>

		
			<% } %>





